@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a href="/product/shoes/sneakers/123">/shoes/sneakers/123</a></li>
    <li><a href="/product/shoes/sneakers/test">/shoes/sneakers/test</a></li>
    <li><a href="/product/Account/ChangePassword">/Account/ChangePassword</a></li>
    <li><a href="/product/ShoppingCart/Checkout/Start">/ShoppingCart/Checkout/Start</a></li>
    <li><a href="/product/1/2/3">/1/2/3</a></li>

</ul>
