@page
@model ECommerce.Pages.Products.IndexModel
@{
}
<ul>
    <li><a asp-area="" asp-page="/Products/ProductDetail" asp-route-id="1">Apple iPod</a></li>
    <li><a asp-area="" asp-page="/Products/ProductDetail" asp-route-id="2">Surface Book</a></li>
    <li><a asp-area="" asp-page="/Products/ProductDetail" asp-route-id="3">Huawei matebook</a></li>
</ul>
<a asp-page="/Products/AddProduct">Add new product</a>

