@page "/Products/add"
@model ECommerce.Pages.Products.AddProductModel
@{
}
<form method="post">
    <partial name="ProductEditor" model="Model.Input" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
