@page "/Products/{id}"
@model ECommerce.Pages.Products.ProductDetailModel
@{
}
<div class="product-details">
    <div class="product-details-name">@Model.Product.Name</div>
    <div class="product-details-price">@Model.Product.Price</div>
</div>
<a asp-page="EditProduct" asp-route-id="@Model.Product.Id">Edit</a>
