@page "{returnUrl}"
@model shopping.com.Areas.Auth.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    <form method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
}