@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Это приложение демонстрирует атаку с подделкой межсайтовых запросов (CSRF).</h2>
<p>Сначала создайте новую учетную запись и войдите в это приложение.</p>
<p>Вы можете просмотреть свой баланс и вывести средства, нажав кнопку ниже</p>

<a asp-page="Balance" class="btn btn-primary">View Balance</a>